@model GrocerySaver.Models.AllGroceriesDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AllGroceriesDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GroceryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroceryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroceryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroceryType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroceryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
