@model IEnumerable<GrocerySaver.Models.AllGroceriesList>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GroceryId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GroceryType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GroceryId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GroceryType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.GroceryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.GroceryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.GroceryId })
        </td>
    </tr>
}

</table>
