@model IEnumerable<GrocerySaver.Models.BeverageListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Beverages</h2>
<body>
    @section head{
        <style type="text/css">
        body { background-image: url("https://images.unsplash.com/photo-1551024709-8f23befc6f87?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2025&q=80"); color: black; font-weight: bold; font-size: initial; margin: 0; }
        </style>
    }
</body>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
<div class="alert alert-success fade in" role="alert">
    @ViewBag.SaveResult
    <button type="button" class="close" data-dismiss="alert">
        <span>&times;</span>
    </button>
    @TempData["SaveResult"]
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeverageId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShelfLifeInDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountInOunces)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BeverageId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShelfLifeInDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountInOunces)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BeverageId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BeverageId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BeverageId })
        </td>
    </tr>
}

</table>
